################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/customer_inquiry/obj
