################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/customer_inquiry/obj
/.vs
/customer_inquiry/.vs/customer_inquiry/v16
